{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Catégories d'addresses utiles
                <small>ajoût</small>
            </h2>
            <ul class="nav navbar-right ">
                <li>
                    <a href="{{ path('categorielieu_index') }}">Retour à la liste</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table">
                <tr>
                    <td>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                    </td>

                    <td>
                        <input class="btn btn-primary" type="submit" value="Enregister"/>
                        {{ form_end(form) }}
                    </td>

                </tr>
            </table>

        </div>
    </div>

{% endblock %}
