{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Types de parascolaires
                <small>liste complète</small>
            </h2>
            <ul class="nav navbar-right ">
                <li>
                    <a href="{{ path('typepara_new') }}">Ajouter un type de parascolaire</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Libellé</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for typePara in typeParas %}
                    <tr>
                        <td>
                            {{ typePara.id }}
                        </td>
                        <td>{{ typePara.libelle }}</td>
                        <td>
                            <ul>

                                <li>
                                    <a href="{{ path('typepara_edit', { 'id': typePara.id }) }}">modifier/supprimer</a>                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
