{% extends 'front.html.twig' %}

{% block front %}
    <div class="alert alert-success" align="center">
        <h2 class="alert alert-success" align="center">
            Votre compte professionnel : <strong>{{ professionnelSante.username }}</strong> est créé avec succès.</h2>
    </div>
{% endblock %}