{% extends "dashboard.html.twig" %}

{% block body %}
    <h3>Anneescolaire</h3>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anneeScolaire.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ anneeScolaire.libelle }}</td>
            </tr>
            <tr>
                <th>Mayières</th>
                <td>
                    {% for matiere in anneeScolaire.matiere %}
                    {{ matiere.libelle }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anneescolaire_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
